* {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

#welcome {
    color: red;
}

.utilities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.utilities .utility {
    display: block;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dataBlock {
    width: 70%;
    height: auto;
    margin: 10px 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1px solid black;
    gap: 20px;
    box-shadow: 5px 5px 5px gray;
    border: 1px solid gray;
    border-radius: 5vh;
}

.alertBox {
    position: fixed; 
    z-index: 1000;  
    top: 50%;       
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px; 
    text-align: center;
    color: rgb(15, 118, 236);
    font-size: large;
}