* {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

#welcome {
    color: red;
}

.utilities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.utilities .utility {
    display: block;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dataBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 1px solid black;
    gap: 10px;
}