* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../asset/img/login.jpg');
    background-position: center;
    background-size: cover;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10%;
    margin-top: 8%;
    /* font */
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 0.08rem 0.08rem 0.2rem gainsboro;
}

.loginArea {
    margin-top: 3%;
    max-width: 66%;
    width: 30%;
    height: 50%;
    padding: 5vh 3vw;
    line-height: 5vh;
    box-shadow: 0.1vw 0.1vw 0.1vw rgba(238, 238, 238, 0.2);
    background-color: rgba(238, 238, 238, 0.15);
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginArea h1,
label {
    /* font */
    font-family: "Lilita One", sans-serif;
    font-weight: lighter;
    font-style: normal;
    color: white;
    text-shadow: 0.1rem 0.1rem 0.1rem gray;
}

.loginArea h1 {
    font-size: 2rem;
    margin: 3vh 2vw;
}

label {
    font-size: 1.3rem;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label,
input {
    margin: 0 auto;
    text-align: center;
}

#username,
#password,
#password_repeat,
#newPassword {
    border-radius: 2vw;
    width: 20vw;
    height: 5vh;
    /* font */
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
    font-size: 1.5rem;
    background-color: rgba(169, 169, 169, 0.4);
}

#submitBtn {
    width: 8vw;
    height: 4vh;
    border-radius: 1vw;
    margin: 2vh 2vw;
    /* font */
    font-family: "Lilita One", sans-serif;
    font-weight: lighter;
    font-style: normal;
    line-height: 4vh;
    font-size: 1rem;
    background-color: rgba(169, 169, 169, 0.4);
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}

#submitBtn:hover {
    transform: scale(1.1, 1.1);
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links>a {
    text-decoration: none;
    /* font */
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
    font-size: 1rem;
    color: aliceblue;
}

.links>a>span:hover {
    text-decoration: dotted;
    color: rgb(10, 103, 224);
}

@media screen and (max-width : 500px) {
    body {
        background-size: contain;
    }

    .title {
        margin-top: 30%;
    }

    .loginArea {
        width: 80vw;
        height: auto;
        margin-top: 10%;
    }

    #username,
    #password {
        width: 60vw;
    }

    #submitBtn {
        width: 30vw;
        border-radius: 5vh;
    }
}

@media screen and (max-width : 1070px){
    body {
        background-size: cover;
    }

    label {
        font-size: 2rem;
    }

    .loginArea {
        width: 90vw;
        height: auto;
        margin-top: 10%;
    }

    .loginArea>h1 {
        font-size: 3rem;
    }

    .title {
        margin-top: 20%;
        font-size: 2rem;
    }

    #submitBtn {
        width: 40vw;
        border-radius: 3vh;
        font-size: 2rem;
    }

    #username,
    #password {
        width: 60vw;
        font-size: 2rem;
    }

    .links>a {
        font-size: 2rem;
    }
}